            // FOLLOW
            Token.%s -> {
                // variables
                %s
                // non-terminals
                %s
                // code
                %s
            }
